[amqp]
url = "amqp://guest:guest@localhost:5672"
queue_name = "lorawan"
queue_arguments = {"x-message-ttl" = 10800000}
topic_filter = [
    "application/APPLICATION_ID/device/DEV_EUI_A/event/up",
    "application/APPLICATION_ID/device/DEV_EUI_B/event/up"
]

[db]
dbhost = "localhost"
port = 5500
username = "postgres"
password = "postgres"
db_name = "iot"
table = "lorawan_raw_data"